.btn {
    display: inline-block;
    padding: 0.54em 1em;
    box-shadow: 4px 6px 8px #e8e8e8;
    border-radius: 0.4em;
    /* border: 2px solid rgb(255, 250, 239); */
    border: 2px solid rgb(202, 197, 186);
    cursor: pointer;
}